*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: orange;
    cursor: pointer;
    /* transition-property: background-color; */
    /* transition-property:all; */
    /* transition-duration: 1s; */
    transition: all 0s;
}

.box:hover{
    background-color: purple;
    /* height: 160px;
    width: 160px; */
    transform: scale(1.03);
    /* Scale(1.03) is used to increase the size of the element by 3% on hover. */
    transform: translateY(10px);
}
