.heading{
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
.paragraph{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}
.subheading{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}
#first{
    text-align: justify;
    margin: 21px;
    color: rgb(162, 101, 101);
}